<script type="text/ng-template" id="search_result.html">
  <a>      
      <img ng-src="{{match.model.image}}" width="16">
      <span bind-html-unsafe="match.model.name | typeaheadHighlight:query"></span>
  </a>
</script>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <input type="text" ng-model="selected_program" placeholder="type a program name" typeahead="program as program.name for program in programs | filter:{name:$viewValue}" typeahead-template-url="search_result.html" class="row form-control">
    
      <ul class="no-list row">
          <li ng-repeat="schedule in selected_program.schedules">
            <input ng-disabled="is_scheduled(schedule,selected_program.channel)" type="checkbox" ng-model="schedule.selected">{{schedule.from | date:'short'}} - {{schedule.to | date:'short'}}          
          </li>
          <li></li>
          <li>
            <button ng-disabled="!has_selected_schedule(selected_program.schedules,selected_program.channel)" class="btn btn-sm btn-primary" ng-click="record(selected_program)">Record</button>      
          </li>
      </ul>    
    </div>
    <div class="col-md-offset-1 col-md-7">
      <div><span>You have {{tuner_count.count}} tuner(s). You can set the number in config/env/all.js</span></div>
      <br>
      <table class="table table-striped">
        <thead>
            <tr>
                <th>Program</th>
                <th>Time</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat='schedule in schedules | orderBy:["from", "priority"]'>
            <td><a href="{{schedule.url}}">{{schedule.name}}</a></td>
            <td>{{schedule.from | date:'short'}} - {{schedule.to | date:'short'}}</td>          
            <td>{{schedule.priority}}</td>
            <td><a ng-show="ended(schedule.to)" href="#/videos/{{schedule.id}}">Play</a></td>
            <td><a ng-click="delete(schedule)">Delete</a></td>
          </tr>
        </tbody>
      </table>      
    </div> 
  <!-- <div class="row">
    <div class="col-md-10">
      <ul class="no-list">
        <li ng-repeat="schedule in schedules | filter:query" class="thumbnail">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="{{schedule.program.url}}">{{schedule.program.name}}</a>          
        </li>
      </ul>
    </div>-->
  </div> 
</div>
<modal show="conflicts.length>0" ok="prioritize()">
<p>Drap & Drop the rows to prioritize conflicts. </p>
<div>
    <table style="width:auto;" class="table table-bordered">
        <thead>
            <tr>
                <th>Priority</th>
                <th>Name</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody ui-sortable  ng-model="conflicts">
            <tr ng-repeat="conflict in conflicts" style="cursor: move;">
                <!-- <td ng-if="$index===0" rowspan="6" class="up_arrow"></td> -->
                <td>{{$index+1}}</td>
                <td>{{conflict.name}}</td>
                <td>{{conflict.from | date:'short'}} - {{conflict.to | date:'short'}}</td>
            </tr>
        </tbody>
        <hr>
</div>
</modal>
